

.hero-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 1rem;
    display: flex;   
    position: fixed;
    align-items: center;
    padding: 2%;
    z-index: -1;
    background-image: linear-gradient(
  130deg,
  hsl(235deg 73% 20%) 0%,
  hsl(239deg 76% 17%) 10%,
  hsl(245deg 79% 13%) 20%,
  hsl(249deg 80% 10%) 30%,
  hsl(253deg 82% 6%) 40%,
  hsl(258deg 87% 3%) 50%,
  hsl(282deg 76% 3%) 60%,
  hsl(300deg 60% 4%) 70%,
  hsl(318deg 45% 4%) 80%,
  hsl(334deg 28% 5%) 90%,
  hsl(0deg 14% 5%) 100%
);

}
.hero-container div{
    font-family: monospace; 
    font-size: 40px;
    padding: 1%;
     
}
.drag-object {
    border-radius: 40%;
    background-color: white;
    filter: blur(1.5rem);

  }

 
.sections{
    z-index: 0;
    width: 100vw;
    display: flex;
    padding-top:40% ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}





@media (max-width:600px) {
          .sections{
            padding-top: 100%;
            
          }
}