.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    z-index: 20;
    position: relative;
    overflow-y: 'auto';
    max-height: '500px';
         backdrop-filter: blur(10px) saturate(152%);
    -webkit-backdrop-filter: blur(10px) saturate(152%);
    background-color: rgba(17, 25, 40, 0.86);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    opacity: .8;
}